<div class="bulkviewfiles imagefile" id="warpper-img-{{ fid }}">
    <div class="ribbon"><span id="seq-{{ fid }}">{{ id }}</span></div>

    <div class="scancontainer">
        <img src="{{ url }}" class="scanpicture">
    </div>
    <div class="file-name">
        <span class="bkname"><i class="fa fa-camera"></i><b id="seq-img-{{ fid }}">{{ name }}</b></span>
        <hr class="simple">

        <div class="row">

            <div class="col col-sm-12">
                <span><label for="del-img-{{ fid }}" class="checkbox"><input type="checkbox" id="del-img-{{ fid }}" class="form-checkbox" value="{{ fid }}"><i></i>Tag Image</label></span>
                <div class="studio-img-weight"><input id="fid-hidden" type="hidden" class="hidden-weight" value="{{ fid }}"></div>
            </div>
        </div>

    </div>
</div>