
<div class="row" style="min-height: 2024px;">
    <div class="col-xs-8 shadow-right"
         style="min-height: 2024px;box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12); padding-top:10px;">
        <div class="row">

            <article class="col-xs-12 col-md-12 col-lg-12 ">

                <div id="panel-psa" class="panel panel-default">
                    <div class="panel-heading seperator">
                        <div class="panel-title">Product Scan
                        </div>
                        <div class="panel-controls">
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4>
                            <span class="semi-bold">Scan</span> Product Tag</h4>
                        <div>
                            <div class="row">
                            <input type="text" id="warehouse-checkin-product-scan">
                                </div>
                            <div class="row">
                            <span id="warehouse-checkin-product-status-wrapper"></span>
                                </div>
                        </div>
                    </div>
                </div>


            </article>


        </div>

        <div class="row">
          <!-- information -->
          <article class="col-xs-8 col-md-8 col-lg-8 ">


              <div id="panel-pi" class="panel panel-default">
                  <div class="panel-heading seperator">
                      <div class="panel-title">Product Information
                      </div>
                      <div class="panel-controls">
            <span id ="{{ form.identifier_nid['#value'] }}">
              <a class="btn btn-xs btn-danger studio-product-drop">Drop Product</a>
             </span>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-6">
                              <dl class="dl-horizontal">
                                  <dt>Concept: </dt>
                                  {% if form.productdetails.concept == 'Unmapped' %}
                                      <dd><span class="bold"></span></dd>
                                  {% else %}
                                      <dd class="mb-10"><img
                                                  src="/sb/{{ directory }}/images/brands/brand_logo_{{ form.productdetails.concept|lower }}.png"
                                                  height="20px"></dd>
                                  {% endif %}
                              </dl>

                          </div>
                          <div class="col-lg-6">
                              <dl class="dl-horizontal">
                                  <dt>Color Variant:</dt>
                                  <dd><strong><{{ form.productdetails.colorvariant|raw }}</strong></dd>
                              </dl>

                          </div>
                      </div>
                      <div class="row">

                          <div class="col-lg-6">
                              <dl class="dl-horizontal">
                                  <dt>Identifier:</dt>
                                  <dd id="dd-identifier">{{ form.productdetails.identifier }}</dd>
                                  <dt>Style No:</dt>
                                  <dd id="dd-styleno">{{ form.productdetails.styleno }}</dd>

                                  <dt>Season:</dt>
                                  <dd>--</dd>
                              </dl>
                          </div>
                          <div class="col-lg-6">
                              <dl class="dl-horizontal">
                                  <dt>Gender:</dt>
                                  <dd><strong id="dd-gender">{{ form.productdetails.gender }}</strong></dd>
                                  <dt>Color:</dt>
                                  <dd id="dd-color">{{ form.productdetails.color }}</dd>
                                  <dt>Size:</dt>
                                  <dd>--</dd>

                              </dl>
                          </div>
                          <div class="col-lg-12">
                              <dl class="dl-horizontal">
                                  <dt>Description:</dt>
                                  <dd id="dd-description">{{ form.productdetails.description }}</dd>

                              </dl>
                          </div>

                      </div>

                  </div>

              </div>

          </article>

            <article class="col-xs-4 col-md-4 col-lg-4 ">

                <div id="portlet-linear-color" class="panel panel-default">
                    <div class="panel-heading seperator">
                        <div class="panel-title">Product Image
                        </div>
                        <div class="panel-controls">


                            {{ form.resequence }}
                            {{ form.delete }}


                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="imagecontainer-wrapper">
                            <div id="imagecontainer" name="imagecontainer" class="ui-sortable">

                              <div id="container">
                                  <video autoplay="true" id="videoElement">

                                  </video>

                              </div>
                              <button class= "btn btn-complete text-align-center" id="snapapicture">Take Picture</button>
                              <canvas id="snapshot" hidden="hidden"></canvas>
                            </div>
                        </div>

                    </div>
                </div>


            </article>
        </div>
        <div class="row">
          <article class="col-xs-12 col-md-12 col-lg-12 ">

              <div id="portlet-linear-color" class="panel panel-default">
                  <div class="panel-heading seperator">
                      <div class="panel-title">Product Images
                      </div>
                      <div class="panel-controls">


                          {{ form.resequence }}
                          {{ form.delete }}


                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="row" id="imagecontainer-wrapper">
                          <div id="imagecontainer" name="imagecontainer" class="ui-sortable">

                            <div id="container">
<div id="filmroll"></div>

                            </div>

                          </div>
                      </div>

                  </div>
              </div>


          </article>
        </div>
    </div>
    <!-- right panel -->
    <div class="col-xs-4">
        <div class="sidebard-panel" style="min-height: 100%;">
        <div class="row">
            <div class="col-xs-6  border-right">
                <div id="widgettile">
                    <div class="widget blue-bg p-lg text-center">
                        <div class="m-b-md">
                            <h1 class="m-xs no-of-products text-warning">0</h1>
                            <h3 class="font-bold no-margins">Received</h3>
                            <small>Products</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="widgettile">
                    <div class="widget blue-bg p-lg text-center">
                        <div class="m-b-md">
                            <h1 class="m-xs no-of-products">32</h1>
                            <h3 class="font-bold no-margins">Expected</h3>
                            <small>Products</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="company-stat-boxes m-t-md">
                <div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">



                  <p class="company-name pull-left text-uppercase bold no-margin">
                      <img src="/sbtest/{{ directory }}/images/box.png" height="55px">
                        <span class="semi-bold">152412121</span><span class="bold"> 7705</span>

                  </p>
                  <p class="pull-right">
                              <span class=" label label-primary no-margin fs-16">17
                                  </span>

                  </p>
                    <div class="clearfix"></div>



                </div>
                <div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">



                    <p class="company-name pull-left text-uppercase bold no-margin">
                        <img src="/sbtest/{{ directory }}/images/box.png" height="55px">
                          <span class="semi-bold">152412121</span><span class="bold"> 7760</span>

                    </p>
                    <p class="pull-right">
                                <span class=" label label-primary no-margin fs-16">15
                                    </span>

                    </p>

                    <div class="clearfix"></div>



                </div>
            </div>
        </div>



    </div>
</div>
