
{#{% for result in results %}#}
    {#<p>{{ dump(result) }}</p>#}
{#{% endfor %}#}

<div class="row">

    <!-- NEW COL START -->
    <article class="col-sm-12 col-md-12 col-lg-12 ">
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">View Sessions
                </div>
                <div class="panel-controls">
                    <a class="btn btn-primary btn-cons" href="/sb/node/add/sessions"><i class="fa fa-plus mr5"></i>Add Session</a>
                </div>

            </div>
            <div class="panel-body">
                <table id="dt_viewsessions" class="table table-responsive table-striped table-bordered table-hover" width="100%">

                    <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Stage</th>
                    <th>Concept(s)</th>
                    <th>Photographer</th>
                    <th>VM</th>
                    <th>Stylist</th>
                    <th>Type</th>
                    <th>Shoot Date</th>
                    <th>Products Shot</th>

                    <th>View</th>

                    </thead><tbody>
                    {% for result in results %}
                        {% if result.status.value == 1  %}
                            {% set status_class = '<span><i class="fa fa-circle text-success"></i> Open</span>' %}
                        {% elseif result.status.value == 3  %}
                            {% set status_class = '<span><i class="fa fa-circle text-warning"></i> Paused</span>' %}
                        {% else %}
                            {% set status_class = '<span><i class="fa fa-circle text-danger"></i> Closed</span>' %}
                        {% endif %}
                        <tr>

                            <td>{{ result.nid.value }}</td>
                            <td>TBA</td>
                            <td>{{ status_class|raw }}</td>
                            <td>Shoot</td>
                            <td><img class="brand_logo shortened-20" src="/sb/{{ directory }}/images/brands/brand_logo_{{ result.field_concept_name.value|lower }}.png" style="padding-top: 5px;"></td>
                            <td>{{ result.field_photographer.target_id }}</td>
                            <td>{{ result.field_vm.target_id }}</td>
                            <td>{{ result.field_stylish.target_id }}</td>
                            <td>{{ result.field_shoot_class.value|title|replace({'_': ' '}) }}</td>
                            <td>{{ result.created.value|date('Y-m-d') }}</td>
                            <td>0</td>
                            <td>View</td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

    </article>
    <!-- END COL -->
</div>