
<div class="row">
  <div class="col-sm-12 col-md-8">
    <h3>Photography <span class="semi-bold">Sessions</span></h3>
    <h4>View all your photography sessions and add session</h4>
  </div>
  <div class="col-sm-12 col-md-4">
    <a class="btn btn-primary btn-cons pull-right" href="/sbtest/node/add/sessions"><i class="fa fa-plus mr5"></i>Add Session</a>
  </div>
</div>


<div class="row p-sm">
  <!-- NEW COL START -->
  <article class="col-sm-12 col-md-12 col-lg-12 panel panel-default m-sm">
    <table id="dt_viewsessions" class="table table-responsive  table-striped table-hover" width="100%">

      <thead>
        <th>ID</th>
        <th>Status</th>
        <th>Concept(s)</th>
        <th>Contributors</th>
        <th>Date Created</th>
        <th class="text-center">Total Products</th>
        <th></th>
      </thead>

      <tbody>


        {% for result in results %}

        {% set total_count = result.mapped.0.mappedcount + result.unmapped.0.unmappedcount %}

        {#rules for status stages#}
            {% if result.stage.0.value == 'open' and total_count == 0  %}
              {% set status_class = '<span class="text-success"><i class=""></i> Started</span>' %}
            {% elseif result.stage.0.value == 'open' and total_count > 0   %}
              {% set status_class = '<span class="text-success"><i class=""></i> Importing Products</span>' %}
            {% endif %}

            {% if result.stage.0.value == 'pause' and total_count == 0  %}
              {% set status_class = '<span class="text-warning"><i class=""></i> Paused</span>' %}
            {% endif %}

            {% if result.stage.0.value == 'closed' and total_count == 0  %}
              {% set status_class = '<span class="text-danger"><i class=""></i> Cancelled</span>' %}
            {% elseif result.stage.0.value == 'closed' and result.unmapped.0.unmappedcount > 0   %}
              {% set status_class = '<span class="text-danger"><i class=""></i>'~ result.unmapped.0.unmappedcount ~' items unmapped</span>' %}
            {% elseif result.stage.0.value == 'closed' and result.unmapped.0.unmappedcount == 0  and total_count > 0 %}
                {% set status_class = '<span class="text-warning"><i class=""></i> Shootlist Pending</span>' %}
            {% endif %}

        {#rules for status stages#}
            {% if result.shootdate.0.value|date('Y-m-d') == "now"|date("Y-m-d") %}
              {% set date_class = 'text-success' %}
            {% else %}
              {% set date_class = '' %}
            {% endif %}




        <tr>

          <td>{{ result.id }}</td>
          <td>{{ status_class|raw }}</td>
          <td>
            {% for concepts in result.concepts %}
            <img src="/sbtest/{{directory}}/images/brands/brand_logo_{{concepts.concept|lower}}.png" height="20px"> <span class="text text-complete bold">   +2</span>
            {% endfor %}

          </td>
          <td>
            <img src="/sbtest/{{directory}}/images/users/{{ random(['niranjan', 'vikas', 'anahita', 'moosa', 'azhar']) }}.jpg" class="img-circle-table " alt="profile">
            <img src="/sbtest/{{directory}}/images/users/{{ random(['disha', 'rebecca']) }}.jpg" class="img-circle-table " alt="profile">
            <img src="/sbtest/{{directory}}/images/users/{{ random(['althea', 'rinki']) }}.jpg" class="img-circle-table " alt="profile">
          </td>
          <td><span class="{{date_class}}">{{ result.shootdate.0.value|date("M d, Y, h:m a") }}</span></td>

          <td class="bold text-center">{{total_count}}</td>
          <td>
            <a class="btn btn-xs btn-complete" href="/sbtest/view-session/{{ result.id }}">View</a>
          </td>

        </tr>

        {% endfor %}


      </tbody>
    </table>

  </article>
  <!-- END COL -->
</div>
