{#
/**
* @file
* Default theme implementation to display the Session details page.
*
* Available variables:
* - product_type: Mapped or unmapped product; based on this in this file we can make conditions for product details.
*
* - images: array of image url & its name 
*   -  uri: Image style uri, to display image  -  {{ ITEM.uri }}
*   -  name: Name of the image -  {{ ITEM.name }}
*
* - product: array contains all properties of unmapped/Mapped products
*   -  title: Title/Identifier of unmapped/Mapped product   -  {{ ITEM.title.0.value }}
*   -  field_images: To get count of image, use like -  {{ ITEM.field_images|length }}
*   -  field_state: Product status/stage.  -  {{ ITEM.field_state.0.value }}
*   -  created: Timestamp product created - {{ ITEM.create.0.value|date("m/d/Y") }}
*
*     -----  NOTE : following this values valid for mapped product --------
*
*   -  field_concept_name: Name of concept - {{ ITEM.field_concept_name.0.value }}
*   -  field_style_family: Name of style family - {{ ITEM.field_style_family.0.value }}
*   -  field_sku_id: SKU_ID value - {{ ITEM.field_sku_id.0.value }}
*  todo : check for missing values
*
*
* @ingroup themeable
*/
#}

{#<ul>#}
{#{% for item in images %}#}
    {#<h2>Product {{ item.title.0.value }}</h2>#}
    {#<li>{{ item.name }}<img src="{{ item.uri }}"></li>#}
{#{% endfor %}#}
{#</ul>#}



        {% for image in images %}

                <div class="bulkviewfiles imagefile" id="warpper-img-{{ image.fid }}">
                    <div class="ribbon" id="ribboncontainer"><span class="for-tag" id="seq-{{ image.fid }}" name="{{ image.id }}">{{ image.id }}</span></div>

                    <div class="scancontainer">
                        <img src="{{ image.uri }}" class="scanpicture">

                    </div>
                    <div class="file-name">
                        <div id="tag-seq-img-{{ image.fid }}" type="hidden"></div>

                        <div class="row">

                            <div class="col col-sm-8">

                                <a href="" class="label label-info"><i class="fa fa-lg fa-fw fa-arrows-alt"></i></a>
                                <a href="" class="label label-warning"><i class="fa fa-lg fa-fw fa-tag"></i></a>
                                <a href="" class="label label-success"><i class="fa fa-lg fa-fw fa-copy"></i></a>


                            </div>
                            <div class="col col-sm-4">
                                <div class="onoffswitch2 pull-right">
                                    <span id="{{ image.fid }}">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="del-img-{{ image.fid }}">
                                            <label class="onoffswitch-label" for="del-img-{{ image.fid }}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="studio-img-weight"><input type="hidden" value="{{ image.fid }}"></div>
                </div>

        {% endfor %}
