{# /** * @file * Default theme implementation to display the Session details page. * * Available variables: * - session: Session node array * - title: node title - {{ session.title.0.value }} * - field_stauts: Status of session - {{
session.field_stauts.0.value }} * - field_product: array of product ids, use like this to get count of total products - {{ ITEM.field_product|length }} * - field_shoot_type: Type of session. - {{ session.field_shoot_type.0.value }} * -
field_shoot_class: Class of session. - {{ session.field_shoot_class.0.value }} * - created: Timestamp session created - {{ session.create.0.value|date("m/d/Y") }} * todo : check for missing values * * - grouped_concepts: array contain concept & count
of its products * - concept: Name of the concept - {{ ITEM.concept }} * - product_count: Count of products under this concept - {{ ITEM.product_count }} * * - unmapped_products: array contains all properties of unmapped products * - title:
Title/Identifier of unmapped product - {{ ITEM.title.0.value }} * - field_images: To get count of image, use like - {{ ITEM.field_images|length }} * - field_state: Product status/stage. - {{ ITEM.field_state.0.value }} * - created: Timestamp product
created - {{ ITEM.create.0.value|date("m/d/Y") }} * todo : check for missing values * * - mapped_products: array contains all properties of mapped products * - title: Title/Identifier of mapped product - {{ ITEM.title.0.value }} * - field_images: To
get count of image, use like - {{ ITEM.field_images|length }} * - field_state: Product status/stage. - {{ ITEM.field_state.0.value }} * - created: Timestamp product created - {{ ITEM.session.create.0.value|date("m/d/Y") }} * - field_concept_name:
Name of concept - {{ ITEM.field_concept_name.0.value }} * - field_style_family: Name of style family - {{ ITEM.field_style_family.0.value }} * - field_sku_id: SKU_ID value - {{ ITEM.field_sku_id.0.value }} * todo : check for missing values * * -
session_users: array contains names of vm, photographer and stylist * - photographer: Name of photographer - {{ session_users.photographer }} * - stylist: Name of stylist - {{ session_users.stylist }} * - vm: Name of vm - {{ session_users.vm }} * * -
total_images: Total no.of images in this session - {{ total_images }} * * * @ingroup themeable */ #}

{#
/**
* @file
* Default theme implementation to display the Session details page.
*
* Available variables:
* - session: Session node array
*   -  session.title.0.value: node title
* todo yet to add
* @ingroup themeable
*/
#}


{# calculate counts adjusted for drops #}
{% set adjusted_mapped = mapped_products | length - mapped_dropped_products | length %}
{% set adjusted_unmapped = unmapped_products | length - unmapped_dropped_products | length %}
{% set total_dropped = drops | length %}

{% set total_count = adjusted_mapped + adjusted_unmapped + total_dropped %}

{% if session.field_status.0.value == 'open' and total_count == 0  %}
  {% set status_class = '<span class="text-success"><i class=""></i> Session has started</span>' %}
{% elseif session.field_status.0.value == 'open' and total_count > 0   %}
  {% set status_class = '<span class="text-success"><i class=""></i> Importing products in session</span>' %}
{% endif %}

{% if session.field_status.0.value == 'pause' and total_count == 0  %}
  {% set status_class = '<span class="text-warning"><i class=""></i> Session is paused</span>' %}
{% endif %}

{% if session.field_status.0.value == 'closed' and total_count == 0  %}
  {% set status_class = '<span class="text-danger"><i class=""></i> Session Cancelled</span>' %}
{% elseif session.field_status.0.value == 'closed' and result.unmapped.0.unmappedcount > 0   %}
  {% set status_class = '<span class="text-danger"><i class=""></i>'~ result.unmapped.0.unmappedcount ~' items are unmapped</span>' %}
{% elseif session.field_status.0.value == 'closed' and result.unmapped.0.unmappedcount == 0  and total_count > 0 %}
    {% set status_class = '<span class="text-success"><i class=""></i> Session Complete</span>' %}
{% endif %}


{#Header#}
<div class="row">

  <div class="col-sm-12 col-md-8">
    <h3 class='no-margins p-b-sm'>Session Details</h3>
    <h4 class="no-margins">View all primary details of your session</h4>
  </div>
  <div class="col-sm-12 col-md-4 m-t-md">
    {% if session.field_status.0.value == 'open' %}
    <a class="btn btn-primary btn-cons pull-right" id="import-products" data-id="{{total_count}}">
      Add Products</a>
    {% endif %}
    </div>
  </div>

  <hr class="simple">
  <div class="row ">
    <div class="col-lg-8">
      <div class="panel panel-default equalheight">
        <div class="panel-body p-xs-imp m-t-5">


          <div class="col-sm-12 no-margins no-padding ">
            <div class="col-sm-5">
              <address>
                <strong class="text-success">{{status_class|raw}}</strong><br>
                <small class="text-muted"><em>Started at {{session.created.0.value|date('F jS, Y, g:i a')}}</em></small>
              </address>

            </div>
            <div class="col-sm-7">
              <span class="pull-right">

                <h3 class="no-margins ">{{session_time}}</h3>
                <h6 class="no-margins no-padding">Total Session Time</h6>
              </span>
              <span class="pull-right  m-r-md">
                {% if  session.field_status.0.value == 'open' %}
                  <a id="close-session" class="btn btn-sm border-blue text-complete" data-id="{{ session.nid.0.value }}">Finish</a>
                {% endif %}
              </span>
              <span class="pull-right  m-r-sm">
                {% if session.field_status.0.value == 'open' %}
                  <a id="pause-session" class="text-info btn btn-sm">Pause</a>
                {% endif %}
              </span>

            </div>
          </div>

          <div class="col-sm-12 no-margins no-padding p-t-20">
            <div class="col-sm-8">
              <div class="col-sm-4 m-l-n">
                <h5 class="m-sm">ID</h5>
                <h3 class="m-sm">{{ session.nid.0.value }}</h3>
              </div>

              <div class="col-sm-4">
                <h5 class="m-sm">Products</h5>
                <h3 class="m-sm">{{total_count}}</h3>
              </div>

              <div class="col-sm-4">
                <h5 class="m-sm">Shoot Class</h5>
                <h3 class="m-sm">{{ session.field_shoot_class.0.value|title|replace({'_': ' '}) }}</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <table class="table table-stripped small no-margins no-padding">
                <tbody>
                  {% if unmapped_products|length > 0 %}

                  <tr class="no-margins no-padding text-danger border-bottom-dotted">
                    <td>
                      <h5 class="no-margins ">Unmapped</h5>
                    </td>
                    <td class="pull-right">
                      <h5 class="no-margins semi-bold">{{unmapped_products|length}}</h5>
                    </td>
                  </tr>
                  {% endif %}
                  {% for item in grouped_concepts %}
                  <tr class="no-margins no-padding border-bottom-dotted">
                    <td>
                      <h5 class="no-margins ">{{item.concept|title}}</h5>
                    </td>
                    <td class="pull-right">
                      <h5 class="no-margins semi-bold">{{item.product_count}}</h5>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="panel panel-default equalheight">

        <div class="panel-heading">
          <div class="panel-title">CONTRIBUTORS
          </div>

        </div>

        <div class="panel-body p-xs-imp m-t-n">
          {% if not session_users.photographer == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left">
                <img src="/{{directory}}/images/users/niranjan.jpg" class="img-circle" alt="profile">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.photographer|title}}
                </h6>
                <small class="text-muted">Photographer</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not session_users.stylist == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left m-r-5">
                <img src="/{{directory}}/images/users/rebecca.jpg" class="img-circle" alt="profile">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.stylist|title}}
                </h6>
                <small class="text-muted">Stylist</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not session_users.vm == ''%}
          <div class="col-sm-6 no-padding">
            <div class="social-avatar">
              <a href="" class="pull-left">
                <img src="/{{directory}}/images/users/cia.jpg" class="img-circle" alt="profile">
              </a>
              <div class="media-body p-xs">
                <h6 class="no-margins bold">
                  {{session_users.vm|title}}
                </h6>
                <small class="text-muted">Visual Merchandiser</small>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row p-t-10">
  <div class="col-lg-12">
    <ul class="nav nav-tabs ">

      <li class="active">
        <a href="#tab-mapped" data-toggle="tab" aria-expanded="false">Mapped
          <span class=" label label-success semi-bold">{{ adjusted_mapped }}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-unmapped" data-toggle="tab" aria-expanded="false">Unmapped
          <span class="p-t-5 label label-danger semi-bold">{{ adjusted_unmapped }}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-dropped" data-toggle="tab" aria-expanded="false">Dropped
          <span class="label label-warning semi-bold">{{total_dropped}}</span>
        </a>
      </li>
      <li class="">
        <a href="#tab-reports" data-toggle="tab" aria-expanded="false">Report(s)</a>
      </li>
      <!-- <li class="">
        <a href="#tab-log" data-toggle="tab" aria-expanded="true">Log</a>
      </li> -->

    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="tab-mapped">
        {% if mapped_products|length == 0%}
        <h2 class="text-center">No mapped products available in this session.</h2>
        {% else %}
        <table id="dt_mapped" class="table table-responsive table-hover" width="100%">
          <thead>
            <tr>
              <th>Concept</th>
              <th>Style ID</th>
              <th>Color Variant</th>
              <th>State</th>
              <th>QC Status</th>
              <th>Image Count</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in mapped_products %}

            {% if item.field_draft.0.value == 0 %}

            {% if item.field_images | length == 0 %}
            {% set image_count_class = 'bold text-danger' %}
            {% elseif item.field_images | length >= 7 %}
            {% set image_count_class = 'bold text-warning' %}
            {% else %}
            {% set image_count_class = 'bold text-success' %}
            {% endif %}
            <tr>
              <td>
                <img src="/{{ directory }}/images/brands/brand_logo_{{ item.field_concept_name.0.value|lower }}.png" height="20px"></td>
                <td>{{ item.field_style_family.0.value }}</td>
                <td>{{ item.title.0.value }}</td>
                <td>
                  {% if item.nid.0. value in session.field_reshoot_product | json_encode() %}
                  <span class="text-warning semi-bold">Reshoot</span>
                  {% else %}
                  <span class="text-success semi-bold">New</span>
                  {% endif %}
                </td>
                <td>
                  <span class="label label-warning">Pending</span>
                </td>
                <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

                <td class="text-align-center">
                  <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid.0.value }}">View</a>
                </td>

              </tr>
              {% endif %}
              {% endfor %}

            </tbody>
          </table>

          {% endif %}
        </div>

        <div class="tab-pane" id="tab-unmapped">
          {% if unmapped_products|length == 0%}
          <h2 class="text-center">No unmapped products available in this session.</h2>
          {% else %}
          <table id="dt_unmapped" class="table table-responsive table-hover" width="100%">
            <thead>
              <tr>
                <th>Concept</th>
                <th>Identifier</th>
                <th>State</th>
                <th>Image Count</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% for item in unmapped_products %}
              {% if item.field_draft.0. value == 0 %}

              {% if item.field_images | length == 0 %}
              {% set image_count_class = 'bold text-danger' %}
              {% elseif item.field_images | length >= 7 %}
              {% set image_count_class = 'bold text-warning' %}
              {% else %}

              {% set image_count_class = 'bold text-success' %}
              {% endif %}
              <tr>
                <td>Not Available</td>
                <td>{{ item.title.0.value }}</td>
                <td>
                  {% if item.nid.0. value in session.field_reshoot_product | json_encode() %}
                  <span class="text-warning semi-bold">Reshoot</span>
                  {% else %}
                  <span class="text-success semi-bold">New</span>
                  {% endif %}
                </td>
                <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

                <td class="text-align-center">
                  <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid.0.value }}">View</a>
                </td>

              </tr>
              {% endif %}
              {% endfor %}

            </tbody>
          </table>
          {% endif %}
        </div>

        <div class="tab-pane" id="tab-dropped">

          <table id="dt_drops" class="table table-responsive table-hover" width="100%">

            <thead>
              <tr>
                <th>Concept</th>
                <th>Color Variant</th>
                <th>Identifier</th>
                <th>State</th>
                <th>Image Count</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in drops %}

              {% if item.image_count == 0 %}
              {% set image_count_class = 'bold text-danger' %}
              {% elseif item.image_count >= 7 %}
              {% set image_count_class = 'bold text-warning' %}
              {% else %}
              {% set image_count_class = 'bold text-success' %}
              {% endif %}
              <tr>
                <td>
                  {% if item.concept|lower == 'unmapped' %}
                  Not Available
                  {% else %}
                  <img src="/{{ directory }}/images/brands/brand_logo_{{ item.concept|lower }}.png" height="20px">
                  {% endif %}
                </td>
                  <td>{{ item.identifier }}</td>
                  <td>{{ item.colorvariant }}</td>
                  <td>
                    <span class="text-danger semi-bold">Dropped</span>

                  </td>
                  <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

                  <td class="text-align-center">
                    <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid}}">View</a>
                  </td>
                  <td class="text-align-center">
                    <a target="_blank" class="btn btn-xs" href="/view-product/{{item.nid}}">Undo</a>
                  </td>

                </tr>

                {% endfor %}


                </tbody>
              </table>
            </div>

            <div class="tab-pane" id="tab-reports">
              {% if grouped_concepts|length == 0%}
              <h2 class="text-center">No reports are available in this session.</h2>
              {% endif %}
              {% for item in grouped_concepts %}
              <div class="col-md-6">

                                  <div class="profile-image">
                                      <img src="/themes/studiobridge/images/excel.png" class="m-b-md" alt="profile">
                                  </div>
                                  <div class="profile-info">
                                      <div class="">
                                          <div>
                                              <h2 class="m-t-sm">
                                                  {{item.concept|title}} Shoot List
                                              </h2>

                                              <small>

                                                  <a href="/shootlist/{{session.nid.0.value}}/download.csv" class="btn">Download</a>
                                              </small>

                                          </div>
                                      </div>
                                  </div>
                              </div>
              {% endfor %}



            </div>

            <div class="tab-pane" id="tab-analysis">

              <div class="col-sm-height col-bottom ">
                <div class="flot-chart">
                  <div class="flot-chart-content" id="flot-analysis-chart" style="height:300px;"></div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- <div class="col-lg-2">

        <div class="sidebard-panel" style="min-height: 100%;">



        {% for item in grouped_concepts %}

        <div class="company-stat-boxes">
        <div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">



        <p class="company-name pull-left text-uppercase bold no-margin">
        <img src="/{{ directory }}/images/brands/brand_logo_{{ item.concept|lower }}.png"
        height="15px">
        <div class="pull-right">
        <span class=" label label-primary p-t-5 m-l-5 p-b-5 inline fs-12">{{ item.product_count }}
      </span>

    </div>

  </p>

  <div class="clearfix"></div>



</div>

</div>
{% endfor %}
{% if unmapped_products|length > 0 %}
<div class="company-stat-boxes">
<div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">

<p class="company-name pull-left text-uppercase bold no-margin">
<img src="/{{ directory }}/images/brands/brand_logo_.png"
height="15px">
<div class="pull-right">
<span class=" label label-danger p-t-5 m-l-5 p-b-5 inline fs-12">{{ unmapped_products|length }}
</span>

</div>

</p>

<div class="clearfix"></div>



</div>

</div>
{% endif %}
</div>

</div> -->
</div>
