{#
/**
* @file
* Default theme implementation to display the Session details page.
*
* Available variables:
* - session: Session node array
*   -  title: node title  -  {{ session.title.0.value }}
*   -  field_stauts: Status of session  -  {{ session.field_stauts.0.value }}
*   -  field_product: array of product ids, use like this to get count of total products - {{ ITEM.field_product|length }}
*   -  field_shoot_type: Type of session. -  {{ session.field_shoot_type.0.value }}
*   -  field_shoot_class: Class of session. - {{ session.field_shoot_class.0.value }}
*   -  created: Timestamp session created - {{ session.create.0.value|date("m/d/Y") }}
*  todo : check for missing values
*
* - grouped_concepts: array contain concept & count of its products
*   -  concept: Name of the concept  -  {{ ITEM.concept }}
*   -  product_count: Count of products under this concept -  {{ ITEM.product_count }}
*
* - unmapped_products: array contains all properties of unmapped products
*   -  title: Title/Identifier of unmapped product   -  {{ ITEM.title.0.value }}
*   -  field_images: To get count of image, use like -  {{ ITEM.field_images|length }}
*   -  field_state: Product status/stage.  -  {{ ITEM.field_state.0.value }}
*   -  created: Timestamp product created - {{ ITEM.create.0.value|date("m/d/Y") }}
*  todo : check for missing values
*
* - mapped_products: array contains all properties of mapped products
*   -  title: Title/Identifier of mapped product  -  {{ ITEM.title.0.value }}
*   -  field_images: To get count of image, use like -  {{ ITEM.field_images|length }}
*   -  field_state: Product status/stage. -  {{ ITEM.field_state.0.value }}
*   -  created: Timestamp product created - {{ ITEM.session.create.0.value|date("m/d/Y") }}
*   -  field_concept_name: Name of concept - {{ ITEM.field_concept_name.0.value }}
*   -  field_style_family: Name of style family - {{ ITEM.field_style_family.0.value }}
*   -  field_sku_id: SKU_ID value - {{ ITEM.field_sku_id.0.value }}
*  todo : check for missing values
*
* - session_users: array contains names of vm, photographer and stylist
*   - photographer: Name of photographer   -  {{ session_users.photographer }}
*   - stylist: Name of stylist - {{ session_users.stylist }}
*   - vm: Name of vm   -  {{ session_users.vm }}
*
* - total_images: Total no.of images in this session - {{ total_images }}
*
*
* @ingroup themeable
*/
#}


{#
/**
* @file
* Default theme implementation to display the Session details page.
*
* Available variables:
* - session: Session node array
*   -  session.title.0.value: node title
* todo yet to add
* @ingroup themeable
*/
#}

<div class="row p-t-10">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading seperator">
                <div class="panel-title">Session Details
                </div>
                <div class="panel-controls">
                    <a href="scanproduct.php?sessid=" class="btn btn-xs btn-danger pull-right mr-5"> Close Session </a>
                    <a href="/sb/live-shooting-page1" class="btn btn-xs btn-info pull-right mr-5"> Import Products </a>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Created by:</dt>
                        <dd></dd>
                        <dt>Total Products:</dt>
                        <dd> <?php echo $sessionmappedcount['count']+$sessionunmappedcount['count']?></dd>
                        <dt>Unmapped Products:</dt>
                        <dd><span class="text-warning"> <?php echo $sessionunmappedcount['count'];?></span></dd>
                        <dt>Total Images:</dt>
                        <dd> {{ total_images }}</dd>
                        <dt>Rejects:</dt>
                        <dd><span class="text-danger"><?php echo $session['rejects'];?></span></dd>
                    </dl>
                </div>
                <div class="col-lg-7" id="cluster_info">
                    <dl class="dl-horizontal">
                        <dt>Create Date:</dt>
                        <dd> {{ session.create.0.value|date("m/d/Y") }} </dd>
                        <dt>Photographer:</dt>
                        <dd>{{ session_users.photographer }}</dd>
                        <dt>VM:</dt>
                        <dd>{{ session_users.vm }}</dd>
                        <dt>Stylist:</dt>
                        <dd> {{ session_users.stylist }} </dd>
                        <dt>Type:</dt>
                        <dd> {{ session.field_shoot_type.0.value }} </dd>
                    </dl>
                </div>
            </div>
            <div class="row m-t-sm">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">


                                    <li class="active"><a href="#tab-mapped" data-toggle="tab" aria-expanded="false">Mapped
                                            Products ({{ mapped_products|length }})</a>
                                    </li>
                                    <li class=""><a href="#tab-unmapped" data-toggle="tab" aria-expanded="false">Unmapped
                                            Products ({{ unmapped_products|length }})</a>
                                    </li>
                                    <li class=""><a href="#tab-dropped" data-toggle="tab" aria-expanded="false">Drops</a>
                                    </li>
                                    </li>
                                    <li class=""><a href="#tab-reports" data-toggle="tab" aria-expanded="false">Report(s)</a>
                                    </li>
                                    <li class=""><a href="#tab-log" data-toggle="tab" aria-expanded="true">Activity
                                            Log</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-mapped">

                                    <table id="dt_mapped" class="table table-responsive table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Concept</th>
                                            <th>Style Family</th>
                                            <th>Color Variant</th>
                                            <th>State</th>
                                            <th>QC Status</th>
                                            <th>Raw Count</th>
                                            <th>View</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in mapped_products %}

                                            {% if item.field_images|length == 0 %}
                                                {% set image_count_class = 'text-align-center bold text-danger' %}
                                            {% elseif item.field_images|length >= 7 %}
                                                {% set image_count_class = 'text-align-center bold text-warning' %}
                                            {% else %}
                                                {% set image_count_class = 'text-align-center bold text-success' %}
                                            {% endif %}
                                            <tr>
                                                <td>
                                                    <img src="/sb/{{ directory }}/images/brands/brand_logo_{{ item.field_concept_name.0.value|lower }}.png"
                                                         height="20px"></td>
                                                <td>{{ item.field_style_family.0.value }}</td>
                                                <td>{{ item.title.0.value }}</td>
                                                <td>New</td>
                                                <td><span class="label label-warning">Pending</span></td>
                                                <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

                                                <td><a target="_blank" class="btn btn-primary" href="/sb/view-product/{{item.nid.0.value }}">View</a></td>

                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab-unmapped">

                                    <table id="dt_unmapped" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Concept</th>
                                            <th>Identifier</th>
                                            <th>Raw Count</th>
                                            <th>View</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in unmapped_products %}
                                            {% if item.field_images|length == 0 %}
                                                {% set image_count_class = 'text-align-center bold text-danger' %}
                                            {% elseif item.field_images|length >= 7 %}
                                                {% set image_count_class = 'text-align-center bold text-warning' %}
                                            {% else %}
                                                {% set image_count_class = 'text-align-center bold text-success' %}
                                            {% endif %}
                                            <tr>
                                                <td><img src="/sb/{{ directory }}/images/brands/brand_logo_.png"
                                                         height="20px"></td>
                                                <td>{{ item.title.0.value }}</td>
                                                <td class="{{ image_count_class }}">{{ item.field_images|length }}</td>

                                                <td><a target="_blank" class="btn btn-primary"  href="/sb/view-product/{{item.nid.0.value }}">View</a></td>

                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab-dropped">

                                    <table id="dt_dropped" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Concept</th>
                                            <th>Identifier</th>
                                            <th>Raw Count</th>
                                            <th>Reason</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-3">

        <div class="sidebard-panel" style="min-height: 100%;">

            <div id="widgettile">
                <div class="widget blue-bg p-lg text-center">
                    <div class="m-b-md">
                        <h1 class="m-xs no-of-products">PD-{{ session.nid.0.value }}</h1>
                        {% if session.field_status.0.value == 'open' %}
                            {% set status_class = 'fa fa-circle text-success' %}
                        {% else %}
                            {% set status_class = 'fa fa-circle text-danger' %}
                        {% endif %}
                        {% if session.field_shoot_class.0.value == 'model_shoot' %}
                            {% set shoot_class = 'fa fa-user' %}
                        {% else %}
                            {% set shoot_class = 'fa fa-cubes' %}
                        {% endif %}
                        <br>
                        <div class="col-md-4">
                            &nbsp; <span><i class="{{ status_class }}"></i> {{ session.field_status.0.value|title }}</span>
                        </div>
                        <div class="col-md-8">
                            <span><i class="{{ shoot_class }}"></i> {{ session.field_shoot_class.0.value|title|replace({'_': ' '}) }}</span>
                        </div>
                    </div>
                </div>
            </div>
<hr class=simple">
            <div class="m-t-md">
                <h3>
                    <small>Stage:</small>
                    <span id="textstage">Shoot</span></h3>
                <div class="progress progress-striped active">
                    <div style="width: 25%" class="progress-bar progress-bar-success"></div>
                </div>
            </div>

            {% for item in grouped_concepts %}

                <div class="company-stat-boxes">
                    <div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">



                            <p class="company-name pull-left text-uppercase bold no-margin">
                                <img src="/sb/{{ directory }}/images/brands/brand_logo_{{ item.concept|lower }}.png"
                                     height="15px">
                            <div class="pull-right">
                                <span class=" label label-primary p-t-5 m-l-5 p-b-5 inline fs-12">{{ item.product_count }}
                                    </span>

                            </div>

                            </p>

                            <div class="clearfix"></div>



                    </div>

                </div>
            {% endfor %}
    {% if unmapped_products|length > 0 %}
            <div class="company-stat-boxes">
                <div data-index="" class="company-stat-box mb-10  active padding-10 bg-master-lightest">



                    <p class="company-name pull-left text-uppercase bold no-margin">
                        <img src="/sb/{{ directory }}/images/brands/brand_logo_.png"
                             height="15px">
                    <div class="pull-right">
                                <span class=" label label-primary p-t-5 m-l-5 p-b-5 inline fs-12">{{ unmapped_products|length }}
                                    </span>

                    </div>

                    </p>

                    <div class="clearfix"></div>



                </div>

            </div>
    {% endif %}
        </div>

    </div>
</div>


{#{% for item in unmapped_products %}#}
    {#<h2>Product {{ item.title.0.value }}</h2>#}
    {#<h2>No.of images in this Product {{ item.field_images|length }}</h2>#}
{#{% endfor %}#}

