
<div class="row">

  <div class="col-sm-12 col-md-8">
    <h3 class="no-margins p-b-sm">Photography Sessions</span></h3>
    <h4 class="no-margins">View and track all your sessions or add a new session</h4>
  </div>
  <div class="col-sm-12 col-md-4 m-t-md">
    <a class="btn btn-primary btn-cons pull-right" href="/node/add/sessions">Add New Session</a>
  </div>
</div>
<hr class="simple">

<div class="panel panel-default">
  <div class="">
    <div class="panel-body" style="padding-left:0px !important;">
        <div id="dt_viewsessions_filter" class="col-sm-5 search-container">
              <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control inputs" placeholder="What are you looking for?" id="dt_search_box">


      </div>

        </div>
        <div class="col-sm-4">
      <button type="button" id="btn_search_reset" class="btn">Clear</button>
        </div>

    </div>
  </div>
</div>
<div class="panel panel-default">
  <!-- NEW COL START -->
  <article class="m-sm">
    <table id="dt_viewsessions" class="table table-responsive table-hover" width="100%">

      <thead>
        <th>ID</th>
        <th>Status</th>
        <th>Concept(s)</th>
        <th>Contributors</th>
        <th>Date Created</th>
        <th>Total Products</th>
        <th></th>
      </thead>

      <tbody>


        {% for result in results %}

        {% if not result.id == '' %}

        {% set total_count = result.mapped.0.mappedcount + result.unmapped.0.unmappedcount %}

        {#rules for status stages#}
            {% if result.stage.0.value == 'open' and total_count == 0  %}
              {% set status_class = '<span class="text-success"><i class=""></i> Started</span>' %}
            {% elseif result.stage.0.value == 'open' and total_count > 0   %}
              {% set status_class = '<span class="text-success"><i class=""></i> Importing Products</span>' %}
            {% endif %}

            {% if result.stage.0.value == 'pause' and total_count == 0  %}
              {% set status_class = '<span class="text-warning"><i class=""></i> Paused</span>' %}
            {% endif %}

            {% if result.stage.0.value == 'closed' and total_count == 0  %}
              {% set status_class = '<span class="text-danger"><i class=""></i> Cancelled</span>' %}
            {% elseif result.stage.0.value == 'closed' and result.unmapped.0.unmappedcount > 0   %}
              {% set status_class = '<span class="text-danger"><i class=""></i>'~ result.unmapped.0.unmappedcount ~' items unmapped</span>' %}
            {% elseif result.stage.0.value == 'closed' and result.unmapped.0.unmappedcount == 0  and total_count > 0 %}
                {% set status_class = '<span class="text-success"><i class=""></i> Session Complete</span>' %}
            {% endif %}

        {#rules for status stages#}
            {% if result.shootdate.0.value|date('Y-m-d') == "now"|date("Y-m-d") %}
              {% set date_class = '' %}
              {% set date_text = 'Today, ' ~ result.shootdate.0.value|date("h:m a") %}
            {% elseif result.shootdate.0.value|date('Y-m-d') == "now"|date_modify("-1 day")|date("Y-m-d") %}
              {% set date_class = '' %}
              {% set date_text = 'Yesterday, ' ~ result.shootdate.0.value|date("h:m a") %}
            {% else %}
              {% set date_class = '' %}
              {% set date_text = result.shootdate.0.value|date("M d, Y, h:m a") %}
            {% endif %}




        <tr>

          <td>{{ result.id }}</td>
          <td>{{ status_class|raw }}</td>
          <td>

            {% if result.concepts|length == 0 %}
                Not Available

            {% elseif result.concepts|length == 1 %}

                <img src="/{{directory}}/images/brands/brand_logo_{{result.concepts.0.concept|lower}}.png" height="20px" alt="{{result.concepts.0.concept|lower|replace({" ": ""})}}">
                <span style="display:none;">{% for item in result.concepts %}{{item.concept}}{% endfor %}</span>
            {% elseif result.concepts|length >= 2 %}

                <img src="/{{directory}}/images/brands/brand_logo_{{result.concepts.0.concept|lower}}.png" height="20px" alt="{{result.concepts.0.concept|lower|replace({" ": ""})}}">
                <span class="text text-complete bold" data-toggle="tooltip" title="{% for item in result.concepts|slice(1) %}{{item.concept|title}}{% if not loop.last %},{% endif %}{% endfor %}">   +{{result.concepts|length -1}}</span>
                <span style="display:none;">{% for item in result.concepts %}{{item.concept}}{% endfor %}</span>
            {% endif %}
          </td>
          <td>
            <img src="/{{directory}}/images/users/{{result.photographer|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle-table " alt="{{ result.photographer }}">
            <span style="display:none;">{{ result.photographer }}</span>
            {% if not result.vm == '' %}
              <img src="/{{directory}}/images/users/{{result.vm|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle-table " alt="{{ result.vm }}">
              <span style="display:none;">{{ result.vm }}</span>
            {% endif %}
            {% if not result.stylist == '' %}
              <img src="/{{directory}}/images/users/{{result.stylist|lower|replace({".": "_" , " " : "_"})}}.jpg" class="img-circle-table " alt="{{ result.stylist }}">
              <span style="display:none;">{{ result.stylist }}</span>
            {% endif %}
          </td>
          <td><span class="{{date_class}}">{{ date_text }}</span></td>

          <td class="bold">{{total_count}}</td>
          <td>
            <a class="btn btn-xs " href="/view-session/{{ result.id }}">View</a>
          </td>

        </tr>

          {% endif %}
        {% endfor %}


      </tbody>
    </table>

  </article>
  <!-- END COL -->
</div>
