
<div class="row">
  <div class="col-sm-12">
    <h3 class="no-margins p-b-sm">Add New Sessions</span></h3>
    <h4 class="no-margins">Create a new session by selecting contributors and classification</h4>
  </div>
</div>
<hr class="simple">
{{ form.form_build_id }}
{{ form.form_id }}
<div class="panel panel-default">
  <form class="node-sessions-form node-form" data-drupal-selector="node-sessions-form" action="/sbtest/node/add/sessions" method="post" id="node-sessions-form" accept-charset="UTF-8">

  <div class="panel-body">
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">

      <div class="col-sm-6 m-b-10">
        {{form.field_photographer}}
      </div>
      <br>
      <div class="col-sm-6 m-b-10">
        {{form.field_vm}}
      </div>
      <div class="col-sm-6 m-b-10">
        {{form.field_stylish}}
      </div>
      <br>
      <div class="col-sm-6 m-b-10">
        {{form.field_shoot_class}}
      </div>
      <br>
      <div class="col-sm-12 m-b-10">
        {{form.field_notes}}
        <small class="m-t-n">Note limited to 250 characters</small>
      </div>
      <br>
      <div class="col-sm-4 m-t-10">
        <button class="btn btn-complete" type="submit">Start this session</button>
      </div>
    </div>





  </div>
</form>
</div>
