{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

<aside id="left-panel">
    {#<div class="userlogged clearfix">#}
        {#<img src="/sbtest/{{ directory }}/images/cameraman.png" alt="me" class="busy">#}
        {#<div class="user-details">#}
            {#<h4>Ashar Babar</h4>#}


            {#<span>Project Lead</span>#}

        {#</div>#}
    {#</div>#}


        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="/sbtest/themes/studiobridge/images/CC_Logo-white.png" alt="Studio Bridge"> </span>
        <!-- END LOGO PLACEHOLDER -->


    <nav class="sbnav">
    <ul>
        {{ menus.menu_links(items, attributes, 0) }}
        {% macro menu_links(items, attributes, menu_level) %}
            {% import _self as menus %}

            {% if items %}


                {% for item in items %}

                    {% if item.title|lower == 'dashboard' %}

                        {% set icon_class = 'fa fa-lg sl-screen-desktop' %}

                    {% elseif item.title|lower == 'photography desk' %}

                        {% set icon_class = 'fa fa-lg fa-camera' %}
                    {% elseif item.title|lower == 'warehouse desk' %}

                        {% set icon_class = 'fa fa-lg fa-truck' %}
                    {% else %}

                        {% set icon_class = '' %}

                    {% endif %}

                    {% if item.below|length > 0 %} {#has children#}
                    <li{{ item.attributes }} {% if item.in_active_trail %} class="active" {% endif %}>
                        <a href="#">

                            <i class="{{ icon_class }}"></i>
                            <span class="menu-item-parent">{{ item.title }}</span>
                            {#<b class="collapse-sign"><em class="sl-arrow-left"></em></b>#}
                        </a>
                    {% elseif item.in_active_trail %}
                        <li class="active">

                        <a href="{{ item.url }}">
                            <i class="{{ icon_class }}"></i>
                           <span>{{ item.title }}</span>

                        </a>
                    {% else %}
                        <li{{ item.attributes }} {% if item.in_active_trail %} class="active" {% endif %}>
                        <a href="{{ item.url }}" >

                            <i class="{{ icon_class }}"></i>
                            <span class="menu-item-parent">{{ item.title }}</span>

                        </a>
                    {% endif %}

                    {% if item.below %}
                        <ul class="children" >
                            {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
                        </ul>
                    {% endif %}
                    </li>

                {% endfor %}

            {% endif %} {#end if items#}

        {% endmacro %}
    </ul>
    </nav>



  <div class="userlogged clearfix">
    <img src="/sbtest/themes/studiobridge/images/users/niranjan.jpg" alt="me" class="img-circle ">
    <div class="pull-left p-r-10 p-t-5 m-l-10 font-heading">
        <span class="semi-bold">{{user.account.name|title}}</span><br>
        <span class="text-master">Photographer</span>
    </div>
      <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
          </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
              <li><a href="/sbtest/user/" data-drupal-link-system-path="user/"><i class="fa fa-lg fa-user"></i> My Profile</a>
              </li>
              <li class="bg-master-lighter">
                  <a href="/sbtest/user/logout" data-drupal-link-system-path="user/logout" class="clearfix">

                      <span class="pull-left">Logout</span>
                      <span class="pull-right"><i class="fa fa-lg fa-power"></i></span>
                  </a>
              </li>
          </ul>
      </div>
  </div>


</aside>
