{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{# set icons #}
{#{% import _self as menus %}#}

{#<aside id="left-panel">#}

  {#<!-- User info -->#}
  {#<div class="login-info">#}
    {#<span>#}

      {#<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">#}
        {#<img src="" alt="me" class="busy">#}
        {#<span>#}
          {#Ashar Babar 2#}
        {#</span>#}
      {#</a>#}

    {#</span>#}
  {#</div>#}

  {#<nav class="sbnav">#}

  {#{{ menus.menu_links(items, attributes, 0) }}#}

  {#{% macro menu_links(items, attributes, menu_level) %}#}
    {#{% import _self as menus %}#}
    {#{% if items %}#}
      {#{% if menu_level == 0 %}#}
        {#<ul>#}
      {#{% endif %}#}
      {#{% for item in items %}#}
        {#{% if menu_level == 0 and item.is_expanded %}#}
          {#<li{{ item.attributes.addClass('open') }}>#}
          {#<a href="{{ item.url }}" class="dropdown-toggle" data-target="#">#}

            {#<span class="menu-item-parent">{{ item.title }} </span>#}
              {#<span class="caret"></span></a>#}

        {#{% else %}#}
          {#<li>#}
          {#<a href="{{ item.url }}">#}
            {#<span>{{ item.title }} </span>#}
            {#</a>#}
        {#{% endif %}#}

        {#{% if item.below %}#}
          {#<ul class="children" style="display: block;">#}
          {#{{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}#}
          {#</ul>#}
        {#{% endif %}#}
        {#</li>#}
      {#{% endfor %}#}
      {#</ul>#}
    {#{% endif %}#}
  {#{% endmacro %}#}

  {#</nav>#}
{#</aside>#}

{% import _self as menus %}

<aside id="left-panel">
  <div class="userlogged clearfix">
    <img src="/sbtest/{{ directory }}/images/cameraman.png" alt="me" class="busy">
    <div class="user-details">
      <h4>Ashar Babar</h4>

    </div>
  </div>


  <nav class="sbnav">

    {{ menus.menu_links(items, attributes, 0) }}

    {% macro menu_links(items, attributes, menu_level) %}
      {% import _self as menus %}
      {% if items %}
        {% if menu_level == 0 %}
          <ul>
        {% endif %}
        {% for item in items %}

          {% if item.title|lower == 'dashboard' %}

              {% set icon_class = 'fa fa-lg fa-fw fa-home' %}

            {% elseif item.title|lower == 'photo desk' %}

              {% set icon_class = 'fa fa-lg fa-fw fa-camera' %}

            {% else %}

              {% set icon_class = '' %}

          {% endif %}

          {% if menu_level == 0 and item.is_expanded %}
          <li{{ item.attributes.addClass('open') }}>

            {% if item.below %}
               <a class="dropdown-toggle" data-target="#">
              {% else %}
                <a href="{{ item.url }}"  data-target="#">
              {% endif %}

               <i class="{{ icon_class }}"></i>
              <span class="menu-item-parent">{{ item.title }}</span>
                  <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
                </a>
          {% else %}
            <li{{ item.attributes }}>

            {{ link(item.title, item.url) }}
          {% endif %}

          {% if item.below %}
            <ul class="children" style="display: block;">
            {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
            </ul>
              {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endmacro %}

  </nav>
</aside>
